* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body{
    background-color: rgb(14, 164, 164);
    margin: 0px;
    border: 10px solid blue;
    padding: 20px;
}

h2{
    color: white;
    /*
    border-color: black;
    border-style: solid;
    border-width: 2px;
    */
    border: 2px solid black;

    text-align: center;
    padding: 15px;
}

h1{
    color: green;
}

p{
    font-size: 20px;
}

.chetos{
    width: 300px;
}

#lenguajes{
    font-style: italic;
}

li{
    border: 1px solid black;
    margin-bottom: 10px;
}

.lenguaje{
    font-weight: bold;
}

.especial, body > form > span{
    color: blue;
}

.especial{
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

/*
body > form > span{
    color: yellow;
} */

body span{
    border: 1px solid white;
}

.contenedor-comentario > .comentario{
    color: rebeccapurple;
}

input[type="text"]{
    width: 200px;
}

button.especial:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

h1:hover{
    color: blue;
}

#segundo{
    background-color: orange;
}

.primero{
    background-color: green;
}



/* clase le gana al nombre del elemento */
/* id le gana a la clase */
/* # > . > elemento